<fieldset>


  <div id="card_form">

    <%= image_tag "creditcard.gif", :id => 'creditcard-image' %>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>
    <%= hidden_field_tag "state",'paid' %>
    <div>
    </div>

  </div>

</fieldset>
