<fieldset>
  <legend><%= t('creditcard') %></legend>

  <table class="index">
    <tr>
      <th colspan="6">Payment Details - Paypal</th>
    </tr>
    <tr>
      <td><label>Amount:</label></td>
      <td>
        <%= payment.amount %>
      </td>
      <td><label>Status:</label></td>
      <td>
        <%= payment.state %>
      </td>
    </tr>
  </table>
</fieldset>

